body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

h2.sub {
  margin: 0 0 40px;
  color: #0f8b8d;
  font-size: 48px;
  line-height: 57.6px;
}

h2.center {
  text-align: center;
}

p.sub {
  margin: 0 0 40px;
  font-size: 24px;
  line-height: 28.8px;
  text-align: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 80px);
  padding: 40px;
  font-size: 30px;
}

header.sub {
  position: initial;
  background: #0f8b8d;
  margin-bottom: 100px;
}

header img {
  width: 335px;
  height: auto;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:not(:last-child) {
  margin-right: 50px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 700px;
  background: linear-gradient(0deg, rgba(15, 139, 141, 0.5), rgba(15, 139, 141, 0.5)), url(../img/Coffe\ Header.png) center center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  border-radius: 0 0 30px 30px;
}

main h1 {
  width: 500px;
  margin: 0;
  font-size: 70px;
  line-height: 84px;
}

main h2 {
  width: 500px;
  margin: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 43.2px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 0 120px;
}

section > div {
  width: calc(50% - 40px);
}

section > div.single {
  width: 100%;
  text-align: center;
}

section > div.single h2 {
  padding: 0;
  border: none;
}

section > div.single p {
  width: 100%;
}

section > div h2 {
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 5px #ec9a29;
}

section h2 {
  color: #0f8b8d;
  font-size: 48px;
}

section h2 a {
  color: #ec9a29;
  text-decoration: none;
}

section p {
  width: 80%;
  margin: 0 0 45px;
  color: #143642;
  font-size: 24px;
  line-height: 28.8px;
}

section .photo-1 {
  width: 335px;
  height: 460px;
  background: url(../img/Who\ are\ we.jpg) center center no-repeat;
  background-size: cover;
  border-radius: 20px;
}

section .photo-2 {
  width: 335px;
  height: 335px;
  background: url(../img/Our\ products.jpg) center center no-repeat;
  background-size: cover;
  border-radius: 20px;
}

section .photo-3 {
  width: 453px;
  height: 453px;
  background: url(../img/Hang\ out\ with\ us.jpg) center center no-repeat;
  background-size: cover;
  border-radius: 20px;
}

a.button {
  display: inline-block;
  padding: 20px 50px;
  background: #a8201a;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  border-radius: 1000px;
}

section .gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-flow: row wrap;
  margin-top: 30px;
}

section .gallery img {
  width: 30%;
}

.products-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
  gap: 40px;
  max-width: 900px;
  margin: 0 auto;
}

.products-list > div {
  position: relative;
  width: 220px;
  height: 220px;
  background: url(../img/Coffee\ background.png) center center no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  border-radius: 20px;
}

.products-list > div img {
  width: auto;
  height: 140px;
  transition: 0.25s;
}

.products-list > div p {
  margin-bottom: 0;
  transition: 0.25s;
}

.products-list > div:hover img {
  float: left;
  display: block;
  top: 50px;
  left: 0;
}

.products-list > div:hover p {
  position: absolute;
  top: 50px;
  left: 0;
  margin-top: 150px;
}

.product-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.product-section h2 {
  font-size: 48px;
  line-height: 58px;
  color: #0f8b8d;
}

.product-section p {
  font-size: 24px;
  line-height: 29px;
  color: #143642;
}

.product-section p.price {
  font-size: 60px;
  font-weight: bold;
  line-height: 72px;
  color: #0f8b8d;
}

.product-section > div {
  width: 50%;
}

.product-image img {
  width: auto;
  height: 500px;
}

.product-description {
  max-width: 1000px;
  margin: 0 auto;
}

.product-description h2 {
  display: inline-block;
  margin: 0 0 20px;
  padding: 0 0 20px;
  font-size: 48px;
  line-height: 58px;
  color: #0f8b8d;
  border-bottom: solid 5px #ec9a29;
}

.product-description p {
  margin: 0 0 45px;
  font-size: 24px;
  line-height: 29px;
  color: #143642;
}

.store-location {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.store-location > div {
  width: 50%;
}

.store-location h2 {
  font-size: 48px;
  line-height: 58px;
  color: #0f8b8d;
}

.store-location p {
  font-size: 24px;
  line-height: 29px;
  color: #143642;
}

.store-location iframe {
  width: 100%;
  height: 580px;
  border: none;
}

.store-location .card {
  width: calc(100% - 120px);
  margin-bottom: 20px;
  padding: 20px 45px;
  border-radius: 20px;
  border: solid 1px #d2d2d2;
}

.store-location .card h3 {
  font-size: 30px;
  line-height: 36px;
  color: #143642;
}

.store-location .card p {
  font-size: 20px;
  line-height: 24px;
  color: #143642;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
  padding: 80px 130px;
  background: #143642;
  color: #fff;
  border-radius: 30px 30px 0 0;
}

footer > div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}

footer img.logo {
  width: 335px;
  height: auto;
}

footer img.icon {
  width: 32px;
  height: 32px;
  margin-right: 25px;
  filter: invert(100%);
}

footer span {
  font-size: 24px;
  line-height: 28.8px;
}

footer span.head {
  color: #ec9a29;
}
